@keyframes fade-in-fade-out {
  0% {
    transform: translateY(4px);
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(4px);
    opacity: 0;
  }
}

.fade-in-fade-out {
  animation: fade-in-fade-out 3s ease-in-out forwards;
}
