.dark {
  /* BACKGROUND-COLOR */
  --COLOR-BG-PAGE: var(--NEUTRAL-900);
  --COLOR-BG-CARD-PRIMARY: var(--NEUTRAL-800);
  --COLOR-BG-CARD-SECONDARY: var(--NEUTRAL-700);
  --COLOR-BG-CARD-SECONDARY-ACTIVE: var(--RED-400);
  --COLOR-BG-CARD-SECONDARY-HOVER: var(--NEUTRAL-600);
  --COLOR-BG-CARD-SECONDARY-FOCUS: var(--RED-700);
  --COLOR-BG-CARD-SECONDARY-ACTIVE-EMPHASIS: var(--RED-500);
  --COLOR-BUTTON-PRIMARY: var(--NEUTRAL-700);
  --COLOR-BUTTON-PRIMARY-HOVER: var(--NEUTRAL-600);
  --COLOR-BUTTON-SECONDARY: var(--NEUTRAL-600);
  --COLOR-BUTTON-SECONDARY-HOVER: var(--RED-700);
  --COLOR-BUTTON-SECONDARY-ACTIVE: var(--RED-500);
  --COLOR-BUTTON-TERTIARY: var(--NEUTRAL-800);
  --COLOR-BUTTON-TERTIARY-HOVER: var(--RED-500);
  --COLOR-BUTTON-TERTIARY-FOCUS: var(--NEUTRAL-600);
  --COLOR-TOGGLE: var(--NEUTRAL-0);
  --COLOR-BRAND: var(--RED-400);

  /* FONT-COLOR */
  --COLOR-TEXT-PRIMARY: var(--NEUTRAL-0);
  --COLOR-TEXT-PRIMARY-HOVER: var(--NEUTRAL-800);
  --COLOR-TEXT-PRIMARY-ACTIVE: var(--NEUTRAL-900);
  --COLOR-TEXT-PRIMARY-DANGER: var(--RED-500);
  --COLOR-TEXT-SECONDARY: var(--NEUTRAL-300);

  /* BORDER-COLOR */
  --COLOR-BORDER-PRIMARY: 225deg 25% 35%;
  --COLOR-BORDER-SECONDARY: var(--NEUTRAL-600);
  --COLOR-BORDER-SECONDARY-FOCUS: var(--NEUTRAL-600);
  --COLOR-BORDER-SECONDARY-DANGER: var(--RED-500);
  --COLOR-BORDER-TERTIARY: var(--NEUTRAL-300);

  /* SHADOW-COLOR */
  --COLOR-SHADOW-PRIMARY: 225deg 100% 0%;
  --COLOR-SHADOW-SECONDARY: 0deg 0% 100%;
  --COLOR-SHADOW-TERTIARY: 225deg 25% 15%;

  /* OUTLINE-COLOR */
  --COLOR-OUTLINE-PRIMARY: var(--RED-400);
  --COLOR-OUTLINE-SECONDARY: var(--NEUTRAL-300);

  /* GRADIENT-COLOR */
  --COLOR-GRADIENT-PRIMARY-FROM: #040918 0%;
  --COLOR-GRADIENT-PRIMARY-TO: #091540 100%;
}
