.dark {
  --BGCOLOR: #333;
  --COLOR-THEME-ICON: #f1f1f1;
  --BGCOLOR-THEME-BUTTON: #222;
  --BGCOLOR-THEME-BUTTON-AFTER: #f1f1f1;
  --BORDER-COLOR-THEME-BUTTON: #666;
  --SHADOW-COLOR-THEME: rgba(255, 255, 255, 0.3);
}
