.dark {
  /* BACKGROUND-COLOR */
  --COLOR-BG-PAGE: var(--NEUTRAL-900);
  --COLOR-BG-CARD-PRIMARY: var(--NEUTRAL-800);
  --COLOR-BG-CARD-SECONDARY: var(--NEUTRAL-700);
  --COLOR-BG-CARD-SECONDARY-ACTIVE: var(--RED-400);
  --COLOR-BG-CARD-SECONDARY-HOVER: var(--NEUTRAL-600);
  --COLOR-BG-CARD-SECONDARY-FOCUS: var(--RED-700);
  --COLOR-BG-CARD-SECONDARY-ACTIVE-EMPHASIS: var(--RED-500);
  --COLOR-BUTTON-PRIMARY: var(--NEUTRAL-700);
  --COLOR-BUTTON-PRIMARY-HOVER: var(--NEUTRAL-600);
  --COLOR-BUTTON-SECONDARY: var(--NEUTRAL-600);
  --COLOR-BRAND: var(--RED-400);
  --COLOR-SHADOW-PRIMARY: 225deg 100% 0%;
  --COLOR-SHADOW-SECONDARY: 0deg 0% 100%;
  --COLOR-SHADOW-TERTIARY: 225deg 25% 15%;
  --COLOR-BORDER-PRIMARY: 225deg 25% 35%;
  --COLOR-BORDER-SECONDARY: var(--NEUTRAL-600);

  /* FONT-COLOR */
  --COLOR-TEXT-PRIMARY: var(--NEUTRAL-0);
  --COLOR-TEXT-PRIMARY-ACTIVE: var(--NEUTRAL-900);
  --COLOR-TEXT-SECONDARY: var(--NEUTRAL-300);

  /* OUTLINES */
  --COLOR-OUTLINE-PRIMARY: var(--RED-400);

  /* GRADIENTS */
  --GRADIENT-PAGE: linear-gradient(180deg, #040918 0%, #091540 100%);
}
