.dark {
  /* BACKGROUND-COLOR */
  --COLOR-BG-PAGE: var(--NEUTRAL-900);

  /* FONT-COLOR */
  --COLOR-TEXT-PRIMARY: var(--NEUTRAL-0);

  /* GRADIENTS */
  --GRADIENT-PAGE: linear-gradient(180deg, #040918 0%, #091540 100%);
}
