.dark {
  /* BACKGROUND-COLOR */
  --COLOR-BG-PAGE: var(--NEUTRAL-900);
  --COLOR-BG-CARD-PRIMARY: var(--NEUTRAL-800);
  --COLOR-BUTTON-PRIMARY: var(--NEUTRAL-700);
  --COLOR-BUTTON-PRIMARY-HOVER: var(--NEUTRAL-600);
  --COLOR-BUTTON-PRIMARY-FOCUS: var(--RED-400);
  --COLOR-BRAND: var(--RED-400);
  --COLOR-SHADOW-PRIMARY: 225deg 100% 0%;

  /* FONT-COLOR */
  --COLOR-TEXT-PRIMARY: var(--NEUTRAL-0);

  /* GRADIENTS */
  --GRADIENT-PAGE: linear-gradient(180deg, #040918 0%, #091540 100%);
}
