@layer reset, base, utilities;

@import url(./reset/reset.css) layer(reset);

@import url(./base/fonts.css) layer(base);
@import url(./base/variables.css) layer(base);
@import url(./base/global.css) layer(base);
@import url(./base/motion.css) layer(base);

@import url(./utilities/animation.css) layer(utilities);
@import url(./utilities/helpers.css) layer(utilities);
