html {
  font-size: var(--FS);
  font-family: var(--FF);
}

body {
  min-height: 100vh;
  background-color: var(--COLOR-BG-PRIMARY);
  background-image: var(--GRADIENT-PAGE);
  color: var(--COLOR-TEXT-PRIMARY);
}
