:root {
  /* FONTS */
  --FF: "Noto Sans", sans-serif;
  --FS: 1rem;

  /* COLORS */
  --NEUTRAL-900: hsl(227, 75%, 14%);
  --NEUTRAL-800: hsl(226, 25%, 17%);
  --NEUTRAL-700: hsl(225, 23%, 24%);
  --NEUTRAL-600: hsl(226, 11%, 37%);
  --NEUTRAL-300: hsl(0, 0%, 78%);
  --NEUTRAL-200: hsl(217, 61%, 90%);
  --NEUTRAL-100: hsl(0, 0%, 93%);
  --NEUTRAL-0: hsl(200, 60%, 99%);
  --RED-400: hsl(3, 86%, 64%);
  --RED-500: hsl(3, 71%, 56%);
  --RED-700: hsl(3, 77%, 44%);

  /* BACKGROUND-COLOR */
  --COLOR-BG-PRIMARY: var(--NEUTRAL-0);

  /* FONT-COLOR */
  --COLOR-TEXT-PRIMARY: var(--NEUTRAL-900);

  /* GRADIENTS */
  --GRADIENT-PRIMARY: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
}
